<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="box">
        <h1>JOIN US</h1>
        <div class="inside">

            <form accept="/" method="post">
                <input class="input" type="text" name="name" placeholder="enter your name">
                <br>
                <input class="input" type="email" name="email" placeholder="enter your id">
                <br>
                <input class="input" type="password" name="password" placeholder="enter your strong password">
                <br>
            </div>
                <button type="submit">Ragister</button>
                <label>or</label>
                <a href="/login">SIGN IN</a>
        
            </form>
    </div>
</body>
</html>